setuptools
wheel

numpy
scipy
cython
pandas
matplotlib
seaborn
pillow
h5py
tables
scikit-image
scikit-learn
sqlalchemy
statsmodels
openpyxl
xlrd
av
tifffile
requests

tensorflow
keras
#keras-vis
pydot

sphinx

pytest
pyflakes
pycodestyle
